.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: #8A2387;   
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
  background: linear-gradient(to right, #F27121, #E94057, #8A2387);
}

section {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

@media (max-width: 900px) {
  .App {
    flex-direction: column;
  }

  section {
    flex-basis: 100%;
  }
}
@media (max-width: 450px) {
  section {
    max-width: 90%;
  }
}